* {
    margin: 0px;
    padding: 0px;
}

/* Navbar  */

#navbar {
    display: flex;
    position: sticky;
    padding: 30px 20px;
    justify-content: space-between;
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: black;
}

#navbar p {
    font-size: 2rem;
}

#navbar p a {
    text-decoration: none;
    color: white;
}

#navbar ul {
    display: flex;
}

#navbar ul li {
    display: flex;
    list-style: none;
    margin: 10px;
}

#navbar ul li a {
    color: white;
    text-decoration: none;
}

#navbar ul li a:hover {
    color: #8DC424;
}

/* body  */

.body {
    margin-top: 50px;
    color: white;
}

#one {
    background-color: #5c8018;
    margin-bottom: 50px;
    height: 550px;
}
#one h1{
    padding-top: 20px;
    padding-left: 60px;
    font-family: 'Source Sans Pro', sans-serif;
}
#one p {
    padding: 10px 60px;
    font-family: 'Source Sans Pro', sans-serif;
}

#o {
    display: flex;
    justify-content: center;
    align-items: center;
}

#o img {
    padding: 20px;
    justify-content: center;
    align-self: center;
    border-radius: 50%;
    height: 260px;
    width: 260px;
}

#one img:hover {
    transform: scale(1.1);
    transition: 0.6s;
}

/* footer  */

footer {
    background-color: white;
}

.container {
    margin: 0px 265.8px;
    padding: 24px 15px;
}

#container-navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
}

#container-navbar p {
    font-size: 20px;
}

#container-navbar ul {
    display: flex;
}

#container-navbar ul li {
    display: flex;
    list-style: none;
    color: #000000BF;
    margin-right: 10px;
}

#container-navbar ul li a {
    color: #000000BF;
    text-decoration: none;
}

.hr {
    margin: 16px 0px;
}

.container-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container-grid h4 {
    font-size: 20px;
    margin-bottom: 10px;
    font-family: 'Playfair Display SC', serif;
}

.container-grid p {
    color: #000000BF;
}

#footer-website {
    font-family: 'Playfair Display SC', serif;
    font-weight: bold;
}

#extra {
    margin-bottom: 16px;
}

/* Utility Classes  */

.font {
    font-family: 'Source Sans Pro', sans-serif;
}