body {
  background-color: #232323;
  font-family: "Arial";
  margin: 0;
}

.square {
  width: 30%;
  background-color: purple;
  padding-bottom: 30%;
  margin: 1.66%;
  float: left;
  transition: 0.6s;
  border-radius: 15%;
}

.container {
  max-width: 600px;
  margin: 20px auto;
}

h1 {
  color: white;
  text-align: center;
  text-transform: uppercase;
  background-color: steelblue;
  margin: 0;
  line-height: 1.5;
  padding: 20px 0;
  transition: 0.6s;
}

#colorDisplay {
  font-size: 200%;
}

#message {
  display: inline-block;
  width: 200px;
}

#stripe {
  background-color: white;
  height: 30px;
  text-align: center;
}

.selected {
  background-color: steelblue;
  color: white;
}

button {
  border: none;
  font-weight: 700;
  background: none;
  height: 100%;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: inherit;
  outline: none;
}

button:hover {
  color: white;
  background-color: steelblue;
  transition: 0.3s;
}
