@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&subset=latin-ext");
:root {
  --white: white;
  --black: rgb(39 41 52);
  --gray: #fafafa;
  --text: black;
  --box: #feeef2;
  --box-hover: #fe0c43;
  --nav-color: rgb(255, 230, 230);
  --footer-color: #ededed;
}
[data-theme="dark"] {
  --white: rgb(39 41 52);
  --black: white;
  --gray: black;
  --text: rgb(242, 244, 251);
  --box: rgb(61 63 73);
  --box-hover: rgb(57 148 255);
  --nav-color: #1e1e28;
  --footer-color: #ededed;
  --container-text: #ffb3c6;
}
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: 0.05s;
}
::selection {
  background-color: #4835f7;
  color: #fff;
}
/* * {
  outline: none!important;
} */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
}
html,
body {
  background-color: var(--white);
}
body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
  padding: 0 0 1.5rem;
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

#back-to-top-btn {
  z-index: 1000;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  width: 40px;
  height: 40px;
  color: rgb(124, 117, 117);
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 25%;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-property: background, color;
  transform: translateY(7px);
  transition: 0.5s;
}
#back-to-top-btn:hover,
#back-to-top-btn:focus {
  background: "transparent";
  border: 2px solid rgba(255, 255, 255, 0.2);
  transform: translateY(-7px);
  transition: 0.5s;
}

.container {
  position: relative;
  color: var(--container-text);
}

canvas {
  cursor: crosshair;
  display: block;
}

a {
  /* color: #fff; */
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.heading {
  text-transform: uppercase;
  font-weight: 700;
  cursor: default;
  font-size: 2rem;
  font-family: "Special Elite", cursive;
}

.moto {
  font-size: 22px;
  cursor: default;
}
.heading:hover {
  color: #fe0c43;
  transition: 1s;
}
.moto:hover {
  text-decoration: underline;
  text-decoration-color: var(--gray);
  transition: 1s linear;
}

.content {
  margin-top: 80px;
}

.box {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.box-item {
  position: relative;
  display: block;
  background-color: var(--box);
  color: var(--text);
  font-weight: 600;
  width: 100%;
  cursor: pointer;
  border-radius: 0.4rem;
  padding: 15px 8px 15px 70px;
  margin: 10px;
  font-size: 1rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  /* transition: color 0.5s ease-in; */
  letter-spacing: 0px;
  transition: letter-spacing 0.5s;
}

@media (min-width: 768px) {
  .box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .box-item {
    width: calc(50% - 20px);
  }
}

@media (min-width: 1100px) {
  .box-item {
    width: calc(25% - 20px);
  }
}

.box-item span,
.box-item img {
  position: relative;
  display: block;
  z-index: 10;
}

.box-item:hover {
  color: #fff;
  letter-spacing: 2px;
  font-weight: bold;
  transition: left 1s cubic-bezier(0.86, 0, 0.07, 1);
}

.box-item::before {
  content: "";
  display: table;
  clear: both;

  background: var(--box-hover);
  z-index: 5;
  transition: left 1s cubic-bezier(0.86, 0, 0.07, 1);
}

.box-item::after,
.box-item::before {
  position: absolute;
  content: "";
  color: #fff;
  font-size: 1rem;
  padding: 15px 8px 15px 70px;
  top: 0;
  left: calc(-100% - 40px);
  width: calc(100% + 25px);
  height: 100%;
  transform: skew(-25deg);
}

.box-item::after {
  background: #fff;
  transition: left 0.8s cubic-bezier(0.86, 0, 0.07, 1) 0.2s;
  z-index: 0;
  opacity: 0.8;
}

.box-item:hover::after {
  left: calc(0% - 10px);

  transition: left 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

.box-item:hover::before {
  left: calc(0% - 10px);
  transition: left 0.6s cubic-bezier(0.86, 0, 0.07, 1);
}

.box-item img {
  position: absolute;
  top: 2px;
  left: 3px;
  width: 50px;
  float: left;
  margin-right: 15px;
  padding: 4px;
  border-radius: 50%;
}

.box-item:hover a {
  color: #fff;
}

.box-item:hover a span {
  letter-spacing: 4px;
}

.box-item.different-color {
  background-color: #a7eded;
}

.box-item.different-color:hover {
  background-color: var(--box-hover);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #ddd;
}

::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  outline: none;
  border-radius: 0;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.theme-switch {
  margin-right: 2px;
  padding: 0 6px;
  display: flex;
  height: 34px;
  position: absolute;
  right: 0;
  top: 0;
  width: 60px;
  justify-content: space-between;
  border-style: solid;
  border-radius: 34px;
  align-items: center;
}
.theme-switch input {
  display: none;
}

.slider {
  background-color: transparent;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  margin: auto;
  transition: 0.4s;
}
.slider:before {
  background-color: rgb(255, 209, 4);
  bottom: 4px;
  content: "";
  height: 24px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 24px;
}
input:checked + .slider {
  background-color: transparent;
}
input:checked + .slider:before {
  transform: translateX(23px);
  background-color: white;
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
#stats {
  background-color: var(--footer-color);
  padding: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}

#stats a {
  padding: 0 5px;
}
.word {
  font-family: "Anton", sans-serif;
  perspective: 1000px;
}

.word span {
  cursor: pointer;
  display: inline-block;
  font-size: 8vw;
  user-select: none;
  line-height: 0.8;
}

.word span:nth-child(1).active {
  animation: balance 1.5s ease-out;
  transform-origin: bottom left;
}

@keyframes balance {
  0%,
  100% {
    transform: rotate(0deg);
  }

  30%,
  60% {
    transform: rotate(-45deg);
  }
}

.word span:nth-child(2).active {
  animation: shrinkjump 1s ease-in-out;
  transform-origin: bottom center;
}

@keyframes shrinkjump {
  10%,
  35% {
    transform: scale(2, 0.2) translate(0, 0);
  }

  45%,
  50% {
    transform: scale(1) translate(0, -150px);
  }

  80% {
    transform: scale(1) translate(0, 0);
  }
}

.word span:nth-child(3).active {
  animation: falling 2s ease-out;
  transform-origin: bottom center;
}

@keyframes falling {
  12% {
    transform: rotateX(240deg);
  }

  24% {
    transform: rotateX(150deg);
  }

  36% {
    transform: rotateX(200deg);
  }

  48% {
    transform: rotateX(175deg);
  }

  60%,
  85% {
    transform: rotateX(180deg);
  }

  100% {
    transform: rotateX(0deg);
  }
}

.word span:nth-child(4).active {
  animation: rotate 1s ease-out;
}

@keyframes rotate {
  20%,
  80% {
    transform: rotateY(180deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}

.word span:nth-child(5).active {
  animation: toplong 1.5s linear;
}

@keyframes toplong {
  10%,
  40% {
    transform: translateY(-48vh) scaleY(1);
  }

  90% {
    transform: translateY(-48vh) scaleY(4);
  }
}

.word span:nth-child(6).active {
  animation: balance 1.5s ease-out;
  transform-origin: bottom left;
}

@keyframes balance {
  0%,
  100% {
    transform: rotate(0deg);
  }

  30%,
  60% {
    transform: rotate(-45deg);
  }
}

.word span:nth-child(7).active {
  animation: shrinkjump 1s ease-in-out;
  transform-origin: bottom center;
}

@keyframes shrinkjump {
  10%,
  35% {
    transform: scale(2, 0.2) translate(0, 0);
  }

  45%,
  50% {
    transform: scale(1) translate(0, -150px);
  }

  80% {
    transform: scale(1) translate(0, 0);
  }
}

.word span:nth-child(8).active {
  animation: falling 2s ease-out;
  transform-origin: bottom center;
}

@keyframes falling {
  12% {
    transform: rotateX(240deg);
  }

  24% {
    transform: rotateX(150deg);
  }

  36% {
    transform: rotateX(200deg);
  }

  48% {
    transform: rotateX(175deg);
  }

  60%,
  85% {
    transform: rotateX(180deg);
  }

  100% {
    transform: rotateX(0deg);
  }
}

.word span:nth-child(9).active {
  animation: rotate 1s ease-out;
}

@keyframes rotate {
  20%,
  80% {
    transform: rotateY(180deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}

.word span:nth-child(10).active {
  animation: toplong 1.5s linear;
}

@keyframes toplong {
  10%,
  40% {
    transform: translateY(-48vh) scaleY(1);
  }

  90% {
    transform: translateY(-48vh) scaleY(4);
  }
}

.word span:nth-child(11).active {
  animation: balance 1.5s ease-out;
  transform-origin: bottom left;
}

@keyframes balance {
  0%,
  100% {
    transform: rotate(0deg);
  }

  30%,
  60% {
    transform: rotate(-45deg);
  }
}

.word span:nth-child(12).active {
  animation: shrinkjump 1s ease-in-out;
  transform-origin: bottom center;
}

@keyframes shrinkjump {
  10%,
  35% {
    transform: scale(2, 0.2) translate(0, 0);
  }

  45%,
  50% {
    transform: scale(1) translate(0, -150px);
  }

  80% {
    transform: scale(1) translate(0, 0);
  }
}

@media (max-width: 1024px) {
  .word span {
    cursor: pointer;
    display: inline-block;
    font-size: 5vw;
    user-select: none;
    line-height: 0.8;
  }
}
:root {
  --darkbg: #251d29;
  --darkt: #e76898;
  --lightbg: #fff;
  --lightt: #d43370;

  --toggleHeight: 16em;
  --toggleWidth: 30em;
  --toggleBtnRadius: 10em;

  --bgColor--night: #423966;
  --toggleBtn-bgColor--night: var(--bgColor--night);
  --mooncolor: #d9fbff;
  --bgColor--day: #9ee3fb;
  --toggleBtn-bgColor--day: var(--bgColor--day);
}

body {
  transition: all 0.2s ease-in-out;
  background: var(--darkbg);
  color: var(--darkt);
}
.light {
  background: var(--lightbg);
  color: var(--lightt);
}
.tdnn {
  float: right;
  /* margin: 0 auto; */
  /*change size of toggle with font-size*/
  font-size: 15%;
  /* margin-top: 10em; */
  position: relative;
  height: var(--toggleHeight);
  width: var(--toggleWidth);
  border-radius: var(--toggleHeight);
  transition: all 500ms ease-in-out;
  background: var(--bgColor--night);
}
.day {
  background: #ffbf71;
}
.moon {
  position: absolute;
  display: block;
  border-radius: 50%;
  transition: all 400ms ease-in-out;

  top: 3em;
  left: 3em;
  transform: rotate(-75deg);
  width: var(--toggleBtnRadius);
  height: var(--toggleBtnRadius);
  background: var(--bgColor--night);
  box-shadow: 3em 2.5em 0 0em var(--mooncolor) inset,
    rgba(255, 255, 255, 0.1) 0em -7em 0 -4.5em,
    rgba(255, 255, 255, 0.1) 3em 7em 0 -4.5em,
    rgba(255, 255, 255, 0.1) 2em 13em 0 -4em,
    rgba(255, 255, 255, 0.1) 6em 2em 0 -4.1em,
    rgba(255, 255, 255, 0.1) 8em 8em 0 -4.5em,
    rgba(255, 255, 255, 0.1) 6em 13em 0 -4.5em,
    rgba(255, 255, 255, 0.1) -4em 7em 0 -4.5em,
    rgba(255, 255, 255, 0.1) -1em 10em 0 -4.5em;
}
.sun {
  top: 4.5em;
  left: 18em;
  transform: rotate(0deg);
  width: 7em;
  height: 7em;
  background: #fff;
  box-shadow: 3em 3em 0 5em #fff inset, 0 -5em 0 -2.7em #fff,
    3.5em -3.5em 0 -3em #fff, 5em 0 0 -2.7em #fff, 3.5em 3.5em 0 -3em #fff,
    0 5em 0 -2.7em #fff, -3.5em 3.5em 0 -3em #fff, -5em 0 0 -2.7em #fff,
    -3.5em -3.5em 0 -3em #fff;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
  width: 60px;
}

#myBtn:hover {
  background-color: #555;
}
