@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&subset=latin-ext);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&subset=latin-ext);
:root {
  --white: white;
  --black: rgb(39 41 52);
  --gray: #fafafa;
  --text: black;
  --box: #feeef2;
  --box-hover: #fe0c43;
  --nav-color: rgb(255, 230, 230);
  --footer-color: #ededed;
}
[data-theme="dark"] {
  --white: rgb(39 41 52);
  --black: white;
  --gray: black;
  --text: rgb(242, 244, 251);
  --box: rgb(61 62 73);
  --box-hover: rgb(57 148 255);
  --nav-color: #1e1e28;
  --footer-color: #ededed;
  --container-text: #ffb3c6;
}
*,
::after,
::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: 50ms;
}
::selection {
  background-color: #4835f7;
  color: #fff;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat, sans-serif;
  line-height: 1.5;
}
body,
html {
  background-color: var(--white);
}
body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
  padding: 0 0 1.5rem;
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
#back-to-top-btn {
  z-index: 1000;
  display: none;
  position: fixed;
  bottom: 80px;
  right: 40px;
  width: 40px;
  height: 40px;
  color: #000;
  background-color: var(--lightt);
  cursor: pointer;
  outline: 0;
  border: none;
  border-radius: 25%;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-property: background, color;
  transform: translateY(7px);
  transition: 0.5s;
}
#back-to-top-btn:focus,
#back-to-top-btn:hover {
  background: 0 0;
  border: 2px solid var(--lightt);
  transform: translateY(-7px);
  transition: 0.5s;
}
.light #back-to-top-btn {
  color: #7c7575;
  background-color: rgba(255, 255, 255, 0.1);
}
.container {
  position: relative;
  color: var(--container-text);
}
.container p {
  width: max-content;
  margin: 0;
}
.inputs {
  position: relative;
}
.form-control,
.form-control:focus,
.from-control:active {
  text-indent: 30px;
  border: 1px solid var(--darkt) !important;
  align-content: normal;
  background: var(--darkbg);
  outline: 0;
  color: #eee;
  width: 20rem;
  accent-color: var(--lightt);
  box-shadow: none;
}
@media (max-width: 768px) {
  .form-control,
  .form-control:focus,
  .from-control:active {
    width: 14rem;
  }
}
/* To Make Input field transparent during auto-complete */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s;
  -webkit-text-fill-color: #fff !important;
}

.light .form-control {
  background-color: #fff;
  border-color: #eee;
  color: #000;
  outline: 0;
  box-shadow: none;
}
.inputs i {
  position: absolute;
  top: 12px;
  left: 10px;
  color: #b8b9bc;
}
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.heading {
  text-transform: uppercase;
  font-weight: 700;
  cursor: default;
  font-size: 2rem;
  font-family: "Special Elite", cursive;
  transition: all 1s;
}
.heading:hover {
  color: #fe0c43;
  transition: 1s;
}
.content {
  margin-top: 80px;
}
.box {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.box-item {
  position: relative;
  display: block;
  background-color: var(--box);
  color: var(--text);
  font-weight: 600;
  width: 100%;
  cursor: pointer;
  border-radius: 0.4rem;
  padding: 15px 8px 15px 70px;
  margin: 10px;
  font-size: 1rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: 0;
  transition: letter-spacing 0.5s;
}
@media (min-width: 768px) {
  .box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .box-item {
    width: calc(50% - 20px);
  }
}
@media (min-width: 1100px) {
  .box-item {
    width: calc(25% - 20px);
  }
}
.box-item img,
.box-item span {
  position: relative;
  display: block;
  z-index: 10;
}
.box-item:hover {
  size: 30cm;
  color: rgb(255, 255, 255);
  letter-spacing: 2px;
  font-weight: 700;
  /* transform: rotate(3deg); */
  transition: left 1s cubic-bezier(0.86, 0, 0.07, 1);
}
.box-item::before {
  content: "";
  display: table;
  clear: both;
  background: var(--box-hover);
  z-index: 5;
  transition: left 1s cubic-bezier(0.86, 0, 0.07, 1);
}
.box-item::after,
.box-item::before {
  position: absolute;
  content: "";
  color: #fff;
  font-size: 1rem;
  padding: 15px 8px 15px 70px;
  top: 0;
  left: calc(-100% - 40px);
  width: calc(100% + 25px);
  height: 100%;
  transform: skew(-25deg);
}
.box-item::after {
  background: #fff;
  transition: left 0.8s cubic-bezier(0.86, 0, 0.07, 1) 0.2s;
  z-index: 0;
  opacity: 0.8;
}
.box-item:hover::after {
  left: calc(0% - 10px);
  transition: left 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}
.box-item:hover::before {
  left: calc(0% - 10px);
  transition: left 0.6s cubic-bezier(0.86, 0, 0.07, 1);
}
.box-item img {
  position: absolute;
  top: 2px;
  left: 3px;
  width: 50px;
  float: left;
  margin-right: 15px;
  padding: 4px;
  border-radius: 50%;
}
.box-item:hover a {
  color: #fff;
}
.box-item:hover a span {
  letter-spacing: 4px;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: #ddd;
}
::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  outline: 0;
  border-radius: 0;
}
#stats {
  background-color: var(--footer-color);
  padding: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}
#stats a {
  padding: 0 5px;
}
.word {
  font-family: Anton, sans-serif;
  perspective: 1000px;
}
.word span {
  cursor: pointer;
  display: inline-block;
  font-size: 8vw;
  user-select: none;
  line-height: 0.8;
}
.word span:nth-child(1).active {
  animation: balance 1.5s ease-out;
  transform-origin: bottom left;
}
@keyframes balance {
  0%,
  100% {
    transform: rotate(0);
  }
  30%,
  60% {
    transform: rotate(-45deg);
  }
}
.word span:nth-child(2).active {
  animation: shrinkjump 1s ease-in-out;
  transform-origin: bottom center;
}
@keyframes shrinkjump {
  10%,
  35% {
    transform: scale(2, 0.2) translate(0, 0);
  }
  45%,
  50% {
    transform: scale(1) translate(0, -150px);
  }
  80% {
    transform: scale(1) translate(0, 0);
  }
}
.word span:nth-child(3).active {
  animation: falling 2s ease-out;
  transform-origin: bottom center;
}
@keyframes falling {
  12% {
    transform: rotateX(240deg);
  }
  24% {
    transform: rotateX(150deg);
  }
  36% {
    transform: rotateX(200deg);
  }
  48% {
    transform: rotateX(175deg);
  }
  60%,
  85% {
    transform: rotateX(180deg);
  }
  100% {
    transform: rotateX(0);
  }
}
.word span:nth-child(4).active {
  animation: rotate 1s ease-out;
}
@keyframes rotate {
  20%,
  80% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.word span:nth-child(5).active {
  animation: toplong 1.5s linear;
}
@keyframes toplong {
  10%,
  40% {
    transform: translateY(-48vh) scaleY(1);
  }
  90% {
    transform: translateY(-48vh) scaleY(4);
  }
}
.word span:nth-child(6).active {
  animation: balance 1.5s ease-out;
  transform-origin: bottom left;
}
@keyframes balance {
  0%,
  100% {
    transform: rotate(0);
  }
  30%,
  60% {
    transform: rotate(-45deg);
  }
}
.word span:nth-child(7).active {
  animation: shrinkjump 1s ease-in-out;
  transform-origin: bottom center;
}
@keyframes shrinkjump {
  10%,
  35% {
    transform: scale(2, 0.2) translate(0, 0);
  }
  45%,
  50% {
    transform: scale(1) translate(0, -150px);
  }
  80% {
    transform: scale(1) translate(0, 0);
  }
}
.word span:nth-child(8).active {
  animation: falling 2s ease-out;
  transform-origin: bottom center;
}
@keyframes falling {
  12% {
    transform: rotateX(240deg);
  }
  24% {
    transform: rotateX(150deg);
  }
  36% {
    transform: rotateX(200deg);
  }
  48% {
    transform: rotateX(175deg);
  }
  60%,
  85% {
    transform: rotateX(180deg);
  }
  100% {
    transform: rotateX(0);
  }
}
.word span:nth-child(9).active {
  animation: rotate 1s ease-out;
}
@keyframes rotate {
  20%,
  80% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.word span:nth-child(10).active {
  animation: toplong 1.5s linear;
}
@keyframes toplong {
  10%,
  40% {
    transform: translateY(-48vh) scaleY(1);
  }
  90% {
    transform: translateY(-48vh) scaleY(4);
  }
}
.word span:nth-child(11).active {
  animation: balance 1.5s ease-out;
  transform-origin: bottom left;
}
@keyframes balance {
  0%,
  100% {
    transform: rotate(0);
  }
  30%,
  60% {
    transform: rotate(-45deg);
  }
}
.word span:nth-child(12).active {
  animation: shrinkjump 1s ease-in-out;
  transform-origin: bottom center;
}
@keyframes shrinkjump {
  10%,
  35% {
    transform: scale(2, 0.2) translate(0, 0);
  }
  45%,
  50% {
    transform: scale(1) translate(0, -150px);
  }
  80% {
    transform: scale(1) translate(0, 0);
  }
}
@media (max-width: 1024px) {
  .word span {
    cursor: pointer;
    display: inline-block;
    font-size: 5vw;
    user-select: none;
    line-height: 0.8;
  }
}
:root {
  --darkbg: #251d29;
  --darkt: #e76898;
  --lightbg: #fff;
  --lightt: #d43370;
  --toggleHeight: 16em;
  --toggleWidth: 30em;
  --toggleBtnRadius: 10em;
  --bgColor--night: #423966;
  --toggleBtn-bgColor--night: var(--bgColor--night);
  --mooncolor: #d9fbff;
  --bgColor--day: #9ee3fb;
  --toggleBtn-bgColor--day: var(--bgColor--day);
}
body {
  transition: all 0.2s ease-in-out;
  background: var(--darkbg);
  color: var(--darkt);
}
.light {
  background: var(--lightbg);
  color: var(--lightt);
}
.tdnn {
  float: right;
  font-size: 15%;
  position: relative;
  height: var(--toggleHeight);
  width: var(--toggleWidth);
  border-radius: var(--toggleHeight);
  transition: all 0.5s ease-in-out;
  background: var(--bgColor--night);
  cursor: pointer;
  margin: 0 0 0 10px;
}
.day {
  background: #ffbf71;
}
.moon {
  position: absolute;
  display: block;
  border-radius: 50%;
  transition: all 0.4s ease-in-out;
  top: 3em;
  left: 3em;
  transform: rotate(-75deg);
  width: var(--toggleBtnRadius);
  height: var(--toggleBtnRadius);
  background: var(--bgColor--night);
  box-shadow: 3em 2.5em 0 0 var(--mooncolor) inset,
    rgba(255, 255, 255, 0.1) 0 -7em 0 -4.5em,
    rgba(255, 255, 255, 0.1) 3em 7em 0 -4.5em,
    rgba(255, 255, 255, 0.1) 2em 13em 0 -4em,
    rgba(255, 255, 255, 0.1) 6em 2em 0 -4.1em,
    rgba(255, 255, 255, 0.1) 8em 8em 0 -4.5em,
    rgba(255, 255, 255, 0.1) 6em 13em 0 -4.5em,
    rgba(255, 255, 255, 0.1) -4em 7em 0 -4.5em,
    rgba(255, 255, 255, 0.1) -1em 10em 0 -4.5em;
}
.sun {
  top: 4.5em;
  left: 18em;
  transform: rotate(0);
  width: 7em;
  height: 7em;
  background: #fff;
  box-shadow: 3em 3em 0 5em #fff inset, 0 -5em 0 -2.7em #fff,
    3.5em -3.5em 0 -3em #fff, 5em 0 0 -2.7em #fff, 3.5em 3.5em 0 -3em #fff,
    0 5em 0 -2.7em #fff, -3.5em 3.5em 0 -3em #fff, -5em 0 0 -2.7em #fff,
    -3.5em -3.5em 0 -3em #fff;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: 0;
  background-color: red;
  color: #fff;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
  width: 60px;
}
#myBtn:hover {
  background-color: #555;
}

#animation {
  transition: all 1s;
}

#animation:hover {
  transform: scale(1.1);
}
.box #loadMore u {
  text-decoration: none;
}
.box #loadMore {
  padding: 10px;
  margin: 0;
  border-radius: 10px;
  background-color: #fc3e6a;
  color: whitesmoke;
  border: none;
  transition: ease-out 0.4s;
}
.box #loadMore:hover {
  color: black;
  font-weight: 600;
  box-shadow: inset 120px 0 0 0 #fe0c43;
}