#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    /* height: 100px; */
    background: linear-gradient(to left, #FF0844, #FF4563);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    color: blue;
    text-align: center;
    z-index: 1000;

}
#footer h3 {
  padding: 5rem;
  height: 30px;
}
.footer-icon {
  color: #ff2222;
}
#footer h3 span:hover {
  cursor: pointer;
  cursor: hand;
}
.hacktoberfest-image {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 80px;
}
#backToTop {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 30px;
  z-index: 999;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  background-color: #ff4563;
  padding: 6px 10px 10px;
  z-index: 1001;
  animation: backToTopShowAnim 0.3s;
  transition: transform 0.2s ease-out;
}
#backToTop svg {
  width: 25px;
  height: auto;
  opacity: 0.6;
}
#backToTop:hover svg {
  opacity: 1;
}
#backToTop:hover {
  transform: scale(1.1);
}
@keyframes backToTopShowAnim {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes backToTopScrollingAnimation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  background: #111;
  height: auto;
  width: 100vw;
  padding-top: 40px;
  color: #fff;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3 {
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li {
  margin: 0 10px;
}

.socials a {
  text-decoration: none;
  color: #fff;
  border: 1.1px solid white;
  padding: 5px;
  border-radius: 50%;
}

.socials a i {
  font-size: 1.1rem;
  width: 20px;
  transition: color .4s ease;
}

.socials a:hover i {
  color: aqua;
}

.footer-bottom {
  position: absolute;
  background: #000;
  width: 100vw;
  padding: 20px;
  text-align: center;
}

.footer-bottom p {
  float: left;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.footer-bottom p a {
  color: #44bae8;
  font-size: 16px;
  text-decoration: none;
}

.footer-bottom span {
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}

.footer-menu {
  float: right;
}

.footer-menu ul {
  display: flex;
}

.footer-menu ul li {
  padding-right: 10px;
  display: block;
}

.footer-menu ul li a {
  color: #cfd2d6;
  text-decoration: none;
}

.footer-menu ul li a:hover {
  color: #27bcda;
}

@media (max-width:500px) {
  .footer-menu ul {
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}
