@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900');
* {
  outline: none!important;
}
body {
  font-family: 'Source Sans Pro',sans-serif;
  font-size: 16px;
  color: #444;
  line-height: 1.6;
  background-color: white;
}

h1,h2,h3,h4,h5,h6 {

}
h1,h2,h3 {
  font-weight: bold;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.17em;
}

.copy {
  padding-left: 50%;
}

.guides {
  margin-bottom: 4rem;
}

.os {
  text-align: center;
  font-weight: bold;
  margin: 8px;
}

.container {
  max-width: 1100px;
  margin: 5rem auto 8rem;
}
.container a {
  text-decoration: none;
  color: #FF0844;
}

.container a:hover {
  text-decoration: none;
  color: #cc0636;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  cursor: pointer;
  /* padding: 15px; */
  width: 51px;
  height: 50px;
  padding: 0;
  border-radius: 34px;
}

a.guides-links{
  display: inline-block;
  margin-bottom: 80px
}

.section-tree {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.section {
  margin: 0 0 60px;
  flex: 0 0 45%;
}

.list {
  padding-left: 1.2rem;
}

a.list-item {
  text-decoration: none;
  transition: 0.5s ease;
}

a.list-item:hover {
  text-decoration: underline;

}
#footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
     height: 45px; 
    background: linear-gradient(to left, #FF0844, #FF4563);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    color: white;
    text-align: center;
    z-index: 1000;
}
.footer__socials {
  padding: 6px;
  display: inline-block;

}   
.footer__socials a {
  padding: 20px;

  color: #a8050f;

}