* {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

/* Navbar  */

#navbar {
    display: flex;
    position: sticky !important;
    margin: 0px 20px;
    padding: 30px 0px;
    justify-content: space-between;
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}

#navbar p {
    font-size: 2rem;
}

#navbar p a {
    text-decoration: none;
    color: white;
}

#navbar ul {
    display: flex;
}

#navbar ul li {
    display: flex;
    list-style: none;
    margin: 10px;
}

#navbar ul li a {
    color: white;
    text-decoration: none;
}

#navbar ul li a:active {
    color: #8DC424;
}

#navbar ul li a:hover {
    color: #8DC424;
}

/* Heading  */

.image {
    background: rgba(0, 0, 0, 0.4);
}

.background {
    display: flex;
    align-items: center;
    height: 700px;
    padding: 80px 0px;
    color: white;
}

.background::before {
    content: "";
    position: fixed;
    z-index: -1;
    height: 140%;
    width: 100%;
    background: url("land.jpg") no-repeat center center/cover;
}

.background-container {
    display: flex;
    margin-right: auto;
    margin-left: auto;
}

.heading {
    display: inline-block;
}

.heading h1 {
    font-size: 4rem;
    width: 500px;
    display: flex;
    font-family: 'Playfair Display SC', serif;
}

.heading p {
    padding-top: 20px;
    width: 300px;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
}

/* Colour */

.colour {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60.3px 0px;
    background-color: #5c8018;
}

.colour-image {
    display: flex;
    flex-direction: row-reverse;
    padding: 0px 15px;
}

.colour-image img {
    height: 300px;
    width: 500px;
    border-radius: 5px;
    margin: 0px 10px;
    background: url("image1.jfif")
}

.colour-text {
    display: inline-block;
    width: 800px;
    padding: 0px 15px;
}

.colour-text h2 {
    color: white;
    font-size: 32px;
    margin-bottom: 16px;
}

.colour-text p {
    color: white;
    margin-bottom: 11.54px;
}

.contact {
    background-color: black;
    height: auto;
    color: white;
    padding: 60.3px;
}

.contact-contain {
    display: inline-block;
    margin-left: 400px;
    align-items: center;
    height: auto;
    padding: 32px;
    background-color: #111111;
}

.contact-container img {
    height: 30px;
    width: 30px;
    margin-bottom: 16px;
    filter: invert(1);
}

.contact-container h1 {
    color: #8DC424;
    font-family: 'Playfair Display SC', serif;
    margin-bottom: 16px;
}

.contact-container p {
    margin-bottom: 16px;
}

/* Form Box  */

.contact-form {
    display: flex;
}

.contact-form-items {
    padding: 16px 12px;
    text-align: center;
    width: 500px;
    border-radius: 5px;
    margin-bottom: 12px;
    font-size: 16px;
}

#button {
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #5c8018;
    color: white;
    font-size: 18px;
    width: 110px;
    height: 45px;
}

#button:hover {
    background-color: #8DC424;
}

/* footer  */

footer {
    background-color: white;
}

.container {
    margin: 0px 265.8px;
    padding: 24px 15px;
}

#container-navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
}

#container-navbar p {
    font-size: 20px;
}

#container-navbar ul {
    display: flex;
}

#container-navbar ul li {
    display: flex;
    list-style: none;
    color: #000000BF;
    margin-right: 10px;
}

#container-navbar ul li a {
    color: #000000BF;
    text-decoration: none;
}

.hr {
    margin: 16px 0px;
}

.container-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container-grid h4 {
    font-size: 20px;
    margin-bottom: 10px;
    font-family: 'Playfair Display SC', serif;
}

.container-grid p {
    color: #000000BF;
}

#footer-website {
    font-family: 'Playfair Display SC', serif;
    font-weight: bold;
}

#extra {
    margin-bottom: 16px;
}

/* Utility Classes  */

.font {
    font-family: 'Source Sans Pro', sans-serif;
}