body{font-family:fantasy;
display: flex;
align-items: center;
justify-content: center;
height: 100vh;
background-color: #151b29;}
button{
    background: none;
    color: #ffa260;
    border: 2px solid;
    padding: 1em 2em;
    font-size: 1em; 
    transition: all 0.25s;
    /*transition: font-size ease-out 2s;*/
}
button:hover{
    color: white;
    border-color: #f1ff5c;
    /*font-size: 0.5em;*/
box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
transform: translatey(-0.4em);}