@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&subset=latin-ext');

.spinCard{
  -webkit-animation:spin 4s linear infinite;
  -o-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate3d(1, 1, 1, 360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate3d(1, 1, 1, 360deg);
    -o-transform: rotate3d(1, 1, 1, 360deg);
    -moz-transform: rotate3d(1, 1, 1, 360deg);
    transform: rotate3d(1, 1, 1, 360deg);
  }
}

@keyframes twist {
  from {
      transform: rotateY(0deg);
  }
  to {
      transform: rotateY(360deg);
  }
}


* {
  outline: none!important;
}

/*Begin hover for social media sidebar*/
.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
  width: 3.5rem;
  height: 3.5rem;
}

.icon-bar a:hover {
  width: 7rem;
  background: #000;
}

.icon-bar a:hover i {
  animation-name: twist;
  animation-duration: 1s;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.insta {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}

@media (max-width: 1240px) {
    .content {
        margin-left: 60px;
    }
}
/*End hover for social media sidebar*/


html {
  overflow-x: hidden;
}

body {
  font-size: 16px;
  color: #000;
  line-height: 1.9;
  margin: 0;
  background-color: #FEFEFE;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  letter-spacing: .75px;
  margin: 0;
  overflow-x: hidden;
  transition: 1s ease-in-out;
}

.h1-hover:hover {
  cursor: url("../images/NinjaDuck_min.jpg"), pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
}

a,
a:hover {
  color: #FF0844;
  transition: all 500ms ease-in-out;
}

.content {
  margin-top: 80px;
}

.index .jumbotron {
  padding: 4rem 0;
  background-color: #ffeff3;

}
.jumbotron:first-child {
  margin-bottom: 0;
  background: linear-gradient(to bottom, #fff 0%,#ffeff3 100%);
}

.index .jumbotron:first-child {
  padding: 8.5rem 0;
}

.index .jumbotron-transparent {
  background-color: transparent;
}

.index .jumbotron h1 {
  font-size: 302.5%;
  font-weight: 700;
}

.index .jumbotron h1 span {
  font-weight: 400;
  color: #555;
}

.index .jumbotron h2 {
  font-size: 2.5rem;
}

.index .jumbotron p.lead {
  max-width: 48rem;
  margin-bottom: 2rem;
  font-size: 112.5%;
  font-weight: normal;
}

.index .btn {
  position: relative;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 600;
  padding: .5rem .75rem .5rem 2.5rem;
  border-radius: 2rem;
  margin: 0 .3rem;
}

.index .btn svg {
  position: absolute;
  left: .4em;
  top: .2em;
  width: auto;
  height: 30px;
}

.index .btn-danger {
  color: #fff;
  background-color: #FF0844;
}

.btn-subscribe > svg {
  margin-left: 2px;
}

.index .btn-danger:hover {
  color: #fff;
}

.index .btn-outline-danger:hover {
  color: #fff;
}

.video {
  cursor: pointer;
}

.modal .close {
  margin-bottom: 1rem;
}

.video .card:hover {
  color: #FF0844;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075)!important;
}

.single-faq {
  border: 1px solid rgb(247, 36, 133);
  padding: 1rem;
  border-radius: 4px;
  transition: all 0.3s;
}

.single-faq:hover {
    transform: scale(1.02);
}

.single-faq h5 {
  font-weight: 500;
  font-size: 112.5%;
}

.single-faq p {
  font-size: 87.5%;
  margin-bottom: 0;
}

.single-rules {
  margin-bottom: 1.75rem;
  font-size: 92.5%;
  vertical-align: middle;
  position: relative;
}

.single-rules svg {
  width: 1.8rem;
  height: auto;
  display: inline-block;
  float: left;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.single-rules span {
  display: block;
  margin-left: 3rem;
}

.rules-img {
  text-align: center;
  padding: 4rem 0;
}

.rules-img img {
  width: auto;
  height: 350px;
}

.single-tips .tip {
  position: relative;
  vertical-align: middle;
  text-align: center;
  margin: 10px 0;
  border-left: 1px solid rgba(0, 0, 0, .125);
}

.single-tips span {
  display: block;
}

.single-tips .no {
  font-size: 35px;
  font-weight: 600;
  line-height: .6;
  color: #FF0844;
  margin-bottom: 15px;
}

.single-tips .no::after {
  content: '-';
  text-align: center;
  display: block;
  margin: 0;
  height: 10px;
}

.single-tips .tip-text {
  font-size: 92.5%;
}

.broccoli-green {
  background-color: #A5D6A7;
}

html [type=button] {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  -o-appearance: none !important;
}

.copy {
  padding-left: 50%;
}

.faq {
  width: 90%;
  margin-left: 10%;
  margin-bottom: 50px;
}

.faq-question {
  background-color: lightgray;
}

.tips {
  font-size: 20px;
}

#tips{
  border-radius: 5px;
}

#btnsh:hover{

color: white;


}
#btnsh{

color: black;


}
div#content div#contribution-rules ul, div#content div#contribution-rules ul li{
  list-style-type: none;
}

#contribution-rules{
  background-color: #fff;
  padding:30px;
  border-radius: 5px;
}

.do{
  color:green;
}

.dont{
  color:red;
}

.fork_image {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  margin-top: 61px;
}

.card-header{
  padding:3px;
  padding-left:20px;
  font-weight:bold;
}
.card {
  margin: 1%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border: 0;
}

.container-fluid a {
  text-decoration: none;
  color: #FF0844;
}

.container-fluid a:hover {
  text-decoration: none;
  transition: all 0.5s ease-out;
  color: #cc0636;
}

.fa {
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  transition: all 0.5s ease-out;
  text-decoration: none;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  cursor: pointer;
  /* padding: 15px; */
  width: 51px;
  height: 50px;
  padding: 0;
  border-radius: 34px;
}

.countdown-timer ul {
  padding: 0;
}

.countdown-timer li {
  display: inline-block;
  list-style-type: none;
  padding: 1em;
}

.countdown-timer li span {
  display: block;
  font-weight: bold;
  font-size: 3rem;
}

.countdown-timer li {
  display: inline-block;
  list-style-type: none;
  padding: 1em;
  margin: 10px;
  height: 110px;
  max-width: 120px;
  border-radius: 4px;
}

.countdown-timer li span {
  font-weight: bold;
  font-size: 3rem;
  line-height: 45px;
}

#seconds {
  animation-duration: 1s;
  animation-name: zoomeffect;
  animation-iteration-count: infinite;
  animation-delay: 0s;
}

.logo-image {
  max-width: 100%;
}

.logo-image:hover {
  cursor: url("../images/NinjaDuck_min.jpg"), not-allowed;
}

/* Youtube Subscribe Styling */

.btn-youtube {
  font-family: sans-serif;
  font-size: 20px;
  text-decoration: none;
  background: linear-gradient(90deg, red, orange, rgb(247, 109, 45), red);
  color: black;
  border-radius: 0;
  border: 1px solid red;
  padding: 10px 20px;
  background-size: 400%;
  z-index: 1;
}

.btn-youtube:hover {
  animation: animate 8s linear infinite;
}

@keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

.btn-youtube:before {
  content: "";
  z-index: -1;
  background: linear-gradient(90deg, red, orange, yellow, red);
  background-size: 400%;
  border-radius: 0;
  opacity: 0;
  transition: 0.5s;
}

.btn-youtube:hover::before {
  filter: blur(20px);
  opacity: 1;
  animation: animate 8s linear infinite;
}

.ytSubscribeContainer {
  margin-top: 25px;
}

.ytSubscribeContainer a {
  color: white;
}

.ytSubscribeContainer a:hover {
  color: white;
}

.yt-logo {
  background: url("../images/you_logo.png");
}

/* Start Hacking Button Animation  */

.btn-primary {
  background: linear-gradient(90deg, red, orange, rgb(247, 109, 45), red);
  border: 1px solid red;
  padding: 10px 20px;
  background-size: 400%;
  z-index: 1;
}

.btn-primary:hover {
  animation: animate 8s linear infinite;
}

@keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

.btn-primary:before {
  content: "";
  z-index: -1;
  background: linear-gradient(90deg, red, orange, yellow, red);
  background-size: 400%;
  border-radius: 0;
  opacity: 0;
  transition: 0.5s;
}

.btn-primary:hover::before {
  filter: blur(20px);
  opacity: 1;
  animation: animate 8s linear infinite;
}


#love {
  animation-duration: 1s;
  animation-name: zoomeffect;
  animation-iteration-count: infinite;
  animation-delay: 0s;
}

@keyframes zoomeffect {
  from {
    transform: scale(1.5);
  }
  to {
    transform: scale(1);
  }
}

/* Youtube Subscribe Styling End  */



#twist {
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #FF0844;
  color: white;
  border-radius: 2rem;
  font-weight: 600;
  padding: .75rem 4rem .75rem 4rem;
  border-radius: 2rem;
  outline : none;
  border : none;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

@media (min-width: 992px) {
  .single-tips .tip {
    border-left: 1px solid rgba(0,0,0,.125);
    margin: 0;
  }

  .single-tips .tip:first-child {
    border: none;
  }
  .single-tips .no {
    font-size: 40px;
    text-align: center;
  }

.index .twist-btn{
  margin-top: 20px;
}
}
