@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

.navbar{
  padding:.2rem 2rem
  gap:1.5rem;
  align-items:end;
}
nav{
  background-color:rgb(65, 45,45);
}
.navbar-nav{
  width:100%;
  justify-content: flex-end;
  gap: 10px;
}
.navbar-brand{
  line-height:0.5;
  margin-right:1rem
}
.navbar-brand svg{
  height:37px;
  width:auto;
  vertical-align:middle
  padding-left:0.5rem;
  margin-left:1rem;
}
.navbar-light .navbar-nav .nav-link{
  color:rgb(255 ,255,255);
  position:relative;
  padding:5px;
  margin:0 10px!important
  font-size:0.9rem;
  font-family:Poppins,Montserrat,Verdana,Arial,sans-serif;
  font-weight:300;
}
.navbar-light .navbar-nav .active{
  background-color:#f1ffc5
}
.navbar-light .navbar-nav .active>.nav-link{
  color:#df271a;
  font-weight:700
}
.navbar-light .navbar-nav .nav-link::before{
  background-color:currentColor;
  bottom:-1px;
  content:"";
  height:1px;
  left:auto;
  right:0;
  position:absolute;
  -webkit-transition:width .2s ease-in-out;
  -o-transition:width .2s ease-in-out;
  transition:width .2s ease-in-out;
  width:0
}
.navbar-light .navbar-nav .nav-link:hover{
  color:#000
}
.navbar-light .navbar-nav .nav-link:hover::before{
  left:0;
  right:auto;
  width:100%
}
.nav-link svg{
  width:auto;
  height:25px;
  vertical-align:text-top
}
.navbar-light .navbar-nav .nav-link:hover{
  color:#dc143c
}

.widget{
  margin: 0 0 5% 25%;
  font-family: Poppins;
  font-weight: 200;
  align-self: center;

}

.btn{
  color:#fff;
  background-image: linear-gradient(180deg,#000,#217cc5);
}