.navbar {
  padding: .5rem 2rem;
}

nav {
  background-color: var(--nav-color);
}

/* Distribute navigation items evenly using Flexbox */
.navbar-nav {
  display: flex;
  justify-content: space-between; /* Space items evenly */
  align-items: center; /* Align items vertically */
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none; /* Remove default list styling */
}

/* Adjust branding */
.navbar-brand {
  line-height: 1;
  margin-right: 1rem;
}

.navbar-brand svg {
  height: 37px;
  width: auto;
  vertical-align: middle;
}

/* Style for the navigation links */
.navbar-light .navbar-nav .nav-link {
  color: var(--text);
  position: relative;
  padding: 10px 20px; /* Increase padding for better spacing */
  margin: 0; /* Reset margin to avoid conflict */
}

.navbar-light .navbar-nav .active {
  background-color: #f1ffc5;
}

.navbar-light .navbar-nav .active > .nav-link {
  color: #df271a;
  font-weight: 700;
}

/* Add an underline effect with transition */
.navbar-light .navbar-nav .nav-link::before {
  background-color: currentColor;
  bottom: -1px;
  content: "";
  height: 1px;
  right: 0;
  position: absolute;
  width: 0;
  transition: width .2s ease-in-out;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #000;
}

.navbar-light .navbar-nav .nav-link:hover::before {
  left: 0;
  right: auto;
  width: 100%;
}

.nav-link svg {
  width: auto;
  height: 25px;
  vertical-align: text-top;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #dc143c;
}

/* Adjust dropdown to align properly with flexbox */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Flexbox for spacing between nav items */
.nav-item {
  margin: 0 15px; /* Adds space between items */
}
