* {
    margin: 0px;
    padding: 0px;
}

/* Navbar  */

#navbar {
    display: flex;
    position: sticky;
    padding: 30px 20px;
    justify-content: space-between;
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: black;
    color: #5c8018;
}

#navbar p {
    font-size: 2rem;
}

#navbar p a {
    text-decoration: none;
    color: white;
}

#navbar ul {
    display: flex;
}

#navbar ul li {
    display: flex;
    list-style: none;
    margin: 10px;
}

#navbar ul li a {
    color: white;
    text-decoration: none;
}

#navbar ul li a:hover {
    color: #8DC424;
}

/* Main Body  */

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 60.3px 0px;
    background-color: black;
    color: white;
}

.main-body-grid {
    margin: 0px 123.9px;
    padding: 0px 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
}

.main-body-grid-item {
    background-color: #1d1d1d;
}

.main-body-grid-item img {
    height: 230px;
    width: 360px;
    margin: 20px 0px;
    opacity: 0.95;
    ;
}

.main-body-grid-item-text {
    padding: 16px 24px;
}

.main-body-grid-item:hover {
    transform: scale(1.05);
    transition-duration: 0.45s;
}

.main-body-grid-item-text h2 {
    font-family: 'Playfair Display SC', serif;
    font-size: 28px;
}

.main-body-grid-item-text p {
    margin-top: 8px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 16px;
}

.main-body-grid-item-text input {
    margin-top: 24px;
    text-align: center;
    height: 35px;
    width: 85px;
    border-radius: 5px;
    background-color: #5c8018;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    border: 0px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.main-body-grid-item-text input:active {
    transform: scale(0.9);
    background-color: #8DC424;
}

.main-body-grid-item hr {
    border: 1px solid #5c8018;
    background-color: #5c8018;
}

/* footer  */

footer {
    background-color: white;
}

.container {
    margin: 0px 265.8px;
    padding: 24px 15px;
}

#container-navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
}

#container-navbar p {
    font-size: 20px;
}

#container-navbar ul {
    display: flex;
}

#container-navbar ul li {
    display: flex;
    list-style: none;
    color: #000000BF;
    margin-right: 10px;
}

#container-navbar ul li a {
    color: #000000BF;
    text-decoration: none;
}

.hr {
    margin: 16px 0px;
}

.container-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container-grid h4 {
    font-size: 20px;
    margin-bottom: 10px;
    font-family: 'Playfair Display SC', serif;
}

.container-grid p {
    color: #000000BF;
}

#footer-website {
    font-family: 'Playfair Display SC', serif;
    font-weight: bold;
}

#extra {
    margin-bottom: 16px;
}

/* Utility Class  */

.font {
    font-family: 'Source Sans Pro', sans-serif;
}