@import url(https://fonts.googleapis.com/css?family=Montserrat:300);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 5px;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  font-family: Montserrat, sans-serif;
}
.container {
  width: 28rem;
  height: 34rem;
  background-color: rgb(110, 100, 100);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#top {
  top: -0.4rem;
  left: -0.35rem;
}
#bottom {
  bottom: -0.3rem;
  left: -0.35rem;
}
input[type="range"]::-webkit-slider-runnable-track {
  cursor: pointer;
  background-color:blue;
  border-radius: 0.3rem;
  height: 0.6rem;
}
input[type="range"]::-webkit-slider-thumb {
  background-color:grey;
  color:navy;
  cursor: hand;
  margin-top: -0.1rem;
}
h4 {
  text-shadow: 0.2px 0.2px 14px #ff1493;
}
.css {
  background-color: blue;
  color: grey;
  text-align: center;
  padding: 1.25rem 2.5rem;
  width: 21.87rem;
  height: 8.1rem;
}