@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}
/* CSS Variables */
:root{
    --navbarHeight: 60px;
}

/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

/* Navigation Bar: Logo and Image */
#logo{
    margin: 10px 13px;
}

#logo img{
    height: 33px;
    margin: 7px 14px;
}

/* Navigation Bar: List Styling */
#navbar ul{
    display: flex;
}
#navbar ul li{
    list-style: none;
    font-size: 1.2rem;
}
#navbar ul li a{
    display: block;
    padding: 3px 25px;
    border-radius: 20px;
    color: white;
    text-decoration: none;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
    cursor: default;
}

/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 508px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: "";
    position: absolute;
    background: url('../Images/top\ bg.jpg') no-repeat center center/cover;
    height: 72%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.9;
}
#home h1{
    font-size: 3.5rem;
    padding: 12px;
    color: white;
    text-align: center;
    font-family: 'Bree Serif', serif;
}
#home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
}

/* Service Section */
#services {
    margin: 34px;
    display: flex;
}
#services .box{
    border: 2px solid brown;
    padding: 34px;
    margin: 8px 6px;
    border-radius: 23px;
    background-color: #f2f2f2   ;
}
#services .box img{
    height: 160px;
    display: block;
    margin: auto;
}
#services .box p{
    font-family: 'Bree Serif', serif;
}
#services {}

/* Clients Section */
#client-section{
    height: 344px;
    position: relative;

}
#client-section::before{
    content: "";
    position: absolute;
    background: url(../Images/bg2.jpg);
    width: 100%;
    height: 90%;
    z-index: -1;
    opacity: 0.4;

}

#clients {
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-item{
    padding: 6px;
}
#clients img{
    height: 124px;
}

/* Contact section starts */

#contact {
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url(../Images/contactjpg.jpg) no-repeat center center/cover;
}

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#contact-box label{
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;
}
#contact-box form{
    width: 40%;
}
#contact-box input,
#contact-box textarea {
    width: 100%;
    padding: 0.5rem;
}

/* Contact section end */

footer{
    background: black;
    color: white;
    padding: 9px 20px;
}
/* Utility Classes */
.h-primary{
    font-size: 3.8rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;
}
.h-secondary{
    font-size: 2.3rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;
}
.btn {
    padding: 6px 20px;
    background-color: brown;
    color: white;
    border: 2px solid white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}
.center{
    text-align: center;
}