body{
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

h1{
    text-align: center;
}

.col-md-5{
    margin-top: 120px;
    background-color: white;
    padding:20px;
}

input{
    margin-top: 20px;
    width: 100%
}

button{
    margin: 20px;
    float: right;
}

.success{
    border: 3px solid green !important; 
}

.error{ 
    border: 3px solid red !important; 
}

small{
    color: red;
    font-weight: bold;
    margin: 5px;
    text-align: left !important;
}