*{
	margin:0px;
	padding:0px;
	 box-sizing:border-box;
	 outline:none;
		background-color:skyblue;
}
.main{
	height:100vh;
	display:flex;
	align-items:center;
	justify-content:center;
}
.clac{
	border-radius:20px;
	padding:16px;
	display:grid; 	
	grid-template-columns:repeat(4,80px);
	background-color:black;
}
input{
	grid-column:span 4;
	height:60px;
	width:310px;
	box-shadow:20px 5px 25px black;
	background-color:white;
	border:none;
	border-radius:20px;
	color:rgb(25,26,25);
	text-align:end;
	margin:40px 0px 30px 0px;
	padding:20px;
	font-size:40px;
}
button{
		background-color:white;
	border:none;

	width:50px;
	height:50px;
	margin:10px;
	font-weight:bold;
	font-size:20px;	
	border-radius:0px 0px 10px 10px;
border:2px solid black;
}
.equal{
	width:135px;
	border-radius:10px;
}