* {
    margin: 0;
    padding: 0;
}
body {
    background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#container {
   
    width: 380px;
    margin: 150px auto;
    background-color: lightgray;
    box-shadow: 0 0 3px gray;
}
.completed {
    color: gray;
    text-decoration: line-through;
}
li {
    list-style: none;
    font-family: Arial;
    background-color: white;
    height: 40px;
    line-height: 40px;
    color: black;
    font-weight: 400;
}
li:nth-child(2n){
    background-color: lightgray;
}
input {
    font-size: 18px;
    background-color: lightgray;
    width: 100%;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
    color: goldenrod;
    border: 3px solid rgba(0, 0, 0, 0);
}
input:focus{
    background-color: white;
    border: 3px solid goldenrod;
    outline: none;
}
h1 {
    background-color: goldenrod;
    color: white;
    font-family: Arial;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 35px;
}
.fa-plus {
    float: right;
}
span {
    background-color: red;
    height: 40px;
    margin-right: 20px;
    color: white;
    text-align: center;
    width: 0;
    display: inline-block;
    transition: 0.2s linear;
    opacity: 0;  
}
li:hover span {
    width: 40px;
    opacity: 1.0;
}
.fa-print {
    float: right;
    padding-left: 10px;
}