*{
    margin: 0;
    padding: 0;
    font-family: consolas;
    user-select: none;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f8f8f8;
}
.inputBox{
    position: relative;
    width: 450px;
}
.inputBox h2{
    font-size: 28px;
    color: #333;
}
.inputBox input{
    position: relative;
    width: 100%;
    height: 60px;
    border: none;
    margin: 15px 0 20px;
    background: transparent;
    outline: none;
    padding: 0 20px;
    font-size: 24px;
    letter-spacing: border-box;
    border-radius: 8px;
    color: #333;
    box-shadow: -4px -4px 10px rgba(255, 255, 255, 1),
                inset 4px 4px 10px rgba(0, 0, 0, 0.05),
                inset -4px -4px 10px rgba(255, 255, 255, 1),
                4px 4px 10px rgba(0, 0, 0, 0.05);
}
.inputBox input:placeholder{
    letter-spacing: 0px;
}
.inputBox #btn{
    position: relative;
    cursor: pointer;
    color: #fff;
    background: #333;
    font-size: 24px;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 8px;
}
.inputBox #btn:active{
    background: #9c27b0;
}

.copy{
    position: absolute;
    
    top: 64px;
    right: 0;
    cursor: pointer;
    opacity: 0.2;
}

.copy:hover{
    opacity: 1;
}

.alterBox{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #9c27b0;
    color: #fff;
    text-align: center;
    font-size: 4em;
    display: none;
}
.alterBox.active{
    display: flex;
    justify-content: center;
    align-items: center;
}