*{
    margin: 0;
    padding : 0;
    box-sizing: border-box;
}

body{
    /* background-image: linear-gradient(120deg,#f6d365,#fda085);
     */
     background: #4b6cb7; /* fallback for old browsers */
     background: -webkit-linear-gradient(to right, #4b6cb7, #182848); /* Chrome 10-25, Safari 5.1-6 */
     background: linear-gradient(to right, #4b6cb7, #182848);
    font-family: 'Poppins', sans-serif;
    color : white;
    min-height: 100vh;

}
header{
    font-size: 1.5rem;
}

header,form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


form input,form button {
    padding: 0.5rem;
    font-size: 2rem;
    border : none;
    /* background: white; */
    background: #cc95c0; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #cc95c0, #dbd4b4, #7aa1d2); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #cc95c0, #dbd4b4, #7aa1d2);
}

.todo-button{
    background: #348f50; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #348f50, #56b4d3); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #348f50, #56b4d3); 
}

form button{

    color : #fda085;
    background : white;
    cursor: pointer;
    transition: all 0.3s ease;    
}

form button:hover{
    color : white;
    background: #fda085;
}

.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;

}

.todo-list{
    min-width: 30%;
    list-style: none;
}

.todo { 
    margin:0.5rem;
    background: white ;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition : all 0.5s ease;
}

.todo li {
    flex : 1;
}

.trash-btn, .complete-btn {
    background: #ff6f47;
    color : white;
    border:none;
    padding : 1rem;
    cursor: pointer;
    font-size : 1rem
}

.complete-btn{
    background: rgb(12, 175, 12);
}

.todo-item {
    padding: 0rem 0.5rem;
}

.fa-trash,.fa-check {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.fall {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    /* box-shadow: none; */
    appearance: none;
    border: none;
    outline: none;
}

.select {
    margin:1rem;
    position: relative;
    overflow: hidden;
}

select{
    color:#ff6f47;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
    
}
option{
    font-size: 1.5rem;
}
.select::after{
    content: '\25BC';
    position: absolute;
    background: #ff6f47;
    top : 0;
    right:0;
    padding : 1rem;
    pointer-events: none;
    transition: all 0.3s ease;

}

.select:hover::after{
    background: white;
    color: #fda085;
}


@media (max-width: 650px){
    
    .myheader{
        font-size: 15px;
    }
    .myflex
    {   display : flex;
        flex-direction: column;
        align-items: center;
        /* font-size: 3em; */
    }

}
@media (max-width: 400px){
    
    .myheader{
        font-size: 10px;
    }
    .myflex
    {   display : flex;
        flex-direction: column;
        align-items: center;
        /* font-size: 3em; */
    }
    .todo-input{
        font-size: 1.3rem;
    }
    .todo-button{
        font-size: 1.5rem;
    }
    .filter-todos{
        font-size: 5px; 
    }
    .todo{
        /* font-size : 30px; */
        /* background: blue; */
        font-size : 1rem;
    }
    button.complete-btn{
        /* background: blue; */
        size: 30px;
    }
}