* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.6;
  font-size: 15px;
  color: #cecece;
  
  
    background:
        linear-gradient(rgb(24, 8, 77), transparent),
        linear-gradient(to top left, rgb(58, 4, 87), transparent),
        linear-gradient(to top right, rgb(4, 6, 70), transparent);
    background-blend-mode: screen;

  padding: 40px 0;
  height: 100vh;
}

.glass-container {
  width: 90%;
  margin: 0 auto;
  height: calc(100vh - 80px);
  border-radius: 10px;
  border-color: green 30px;
  background: rgba(231, 236, 237, 0.321);

  backdrop-filter: blur(20px);

  position: relative;
  z-index: 4;
}

.bg-1, .bg-2 {
  width: 300px;
  height: 300px;
  background-image: linear-gradient( 
                 112deg, 
               rgba(169,28,115,1) 21%,
              rgb(241, 92, 11) 93% );
  
  position: absolute;
  z-index: 1;
}

.bg-1 {
  top: 7%;
  left: 5.5%;
  border-radius: 20px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 200px;
  border-bottom-left-radius: 50px;
}

.bg-2 {
  bottom: 7%;
  right: 5.5%;
  border-radius: 50%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 5%;
}

.logo {
  font-size: 40px;
  font-weight: bold;
}

.logo span {
  color: #d42d65;
}

ul {
  list-style: none;
  display: flex;
}

ul li a {
  color: #cecece;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 20px;
  letter-spacing: 1;
  transition: all .2s;
}

ul li a:hover, .active {
  color: #d42d65;
}

.main {
  display: flex;
  justify-content: space-between;
  padding: 5% 0;
}

.inner-content {
  flex-basis: 50%;
  padding-left:  5%;
}

.inner-content h1 {
  font-size: 40px;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 20px;
}

.inner-content p {
  color: #959595;
  margin-bottom: 40px;
}

.btn {
  display: inline-block;
  color: #cecece;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #d42d65;
  padding: 12px 40px;
  border-radius: 2px;

  outline: 4px solid rgba(23, 44, 51, 0.6);
  transition: all .2s ease;
}

.btn:hover,
.btn:focus {
  outline: 4px solid rgba(23, 44, 51, 0.6);
  outline-offset: -8px;
}

@media screen and (max-width: 840px) {
  .inner-content {
    flex:1;
    padding: 0 5%;
  }
}