*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
   
}

body {
    background-color: #66c2ff;
}

.container {
    width: 450px;
    background-color: #0066ff;
    padding: 70px 40px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    box-shadow: 5px 10px 8px 10px #888888;
    border-radius: 10px;
    font-size: 18px;
}

.input_box {
    width: 51%;
    margin-left: 94px;
    margin-bottom: 41px;
}

label {
    font-size: 30px;
    font-weight: 600;
}

input {
    width: 100%;
    height: 50px;
    border-radius: 8px;
    border: 2px solid #d2d2d2;
    outline: none;
    margin-top: 8px;
    padding: 0 10px;
}
        
.heading{
    text-align: center;
    font-size: xx-large;
}
input:hover{
    background: #999999;
}
.creator{
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    padding-top: 30px;
   
}
