body{
    background-color: black;
}
.container{
    border: 1px solid white;
    color: white;
    margin: 0 auto;
    text-align: center;
    width: 75%;
    background-color: black;
}
.flex-blackjack-row-1,.flex-blackjack-row-2,.flex-blackjack-row-3{
    display: flex;
    border: 1px solid white;
    padding: 3px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.flex-blackjack-row-1{
    color: white;
    background: url('table.jpg') center;
}
.flex-blackjack-row-1 div{
    border: 1px solid white;
    padding: 10px;
    flex: 1;
    text-align: center;
    height: 350px;
}
.flex-blackjack-row-1 img{
    width: 20%;
    padding: 10px;
}
table,th,td{
    padding: 1px;
    border: 1px solid white;
    color: white;
}
#blackjack-hit{
    color: white;
    background-color: cornflowerblue;
    border: 1px solid white;
    padding: 10px;
    margin: 10px;
    height: 40;
    width: 80;
}
#blackjack-stand{
    color: black;
    background-color: yellow;
    border: 1px solid white;
    padding: 10px;
    margin: 10px;
    height: 40;
    width: 80;
}
#blackjack-deal{
    color: white;
    background-color: red;
    border: 1px solid white;
    padding: 10px;
    margin: 10px;
    height: 40;
    width: 80;
}