:root{
    --color: #efef06;
    --txt: #FFFFFF;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: var(--txt);

    /* outline: 1px solid red; */
}

.content {
    width: 100vw;
    height: 100vh;
}

.content,
.logo{
    display: flex;
    flex-flow: row wrap;
}


/* left side */

.picture{
    background-image: url('https://images.unsplash.com/photo-1659445914103-dfae8b956791?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyOHx8fGVufDB8fHx8&auto=format&fit=crop&w=1350&q=80');
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 40vw;
}


.logo{
    height: auto;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    top: 20vh;
    gap: 1vw;
    padding: 15px 0;

    justify-content: center;
    align-items: center;
}

h1{
    color: white;
}

.forest {
    height: 10vh;
}







/* right side */

.right{
    width: 60vw;
    background-color: #000000;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    

}

.left{
    padding-left: 3vw;
}

.dummy-text{
    font-weight: 500;
    width: 90%;
    font-size: 1.2rem;
}

.remote-text{
    margin: 40px 0 80px;
}


/* form */

.form{
    background-color: rgb(6, 6, 6);
    box-shadow: 0 10px 20px -2px rgb(22, 22, 22);
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.input{
    display: flex;
    flex-flow: column wrap;
    width: 40%;
    font-size: 0.7rem;
    text-transform: uppercase;
    opacity: 50%;
}

.form-title{
    width: 100%;
    font-size: 1.2rem;
    font-weight: 500;
}

input{
    background-color: rgb(2, 2, 2);
    border: 1px solid rgb(77, 77, 77);
    border-radius: 3px;
}

input:focus{
    outline: none;
    border: 2px solid var(--color);
}

button{
    background-color: rgba(0, 0, 0, 0);
    color: var(--color);
    font-weight: 700;
    font-size: 1.2em;
    border: 2px solid var(--color);
    border-radius: 5px;
    padding: 10px 40px;
    margin: 40px 0;
}

button:hover{
    background-color: var(--color);
    color: black;
    
}

.log-in{
    display: flex;
    gap: 5px;
}

a{
    text-decoration: none;
    color: var(--color);
    font-weight: 700;
}

a:hover{
    color: white;
}










@media only screen and (max-width: 600px)  {
    .content{
        flex-flow: column;
        height: auto;
        text-align: center;
    }
    .picture{
        width: 100vw;
        height: 15vh;
        display: flex;
        background-size: 100vw;
    }
    .logo{
        width: 100vw;
        position: static;
        gap: 10px;
    }
    .right{
        width: auto;
        height: auto;
    }
    .dummy-text{
        width: auto;
        margin-top: 30px;

    }
    .left{
        padding: 10px 20px;
    }
    .remote-text{
        padding: 20px 0;
        margin: 0;
    }
    .form{
        flex-flow: column nowrap;
        align-items: center;

    }
    .input{
        text-align: left;
        width: auto;
        font-size: 0.9em;
        justify-content: center;
        align-items: center;
    }
    input{
        font-size: 0.9rem;
        height: 1.5rem;
        width: 70vw;
    }
    .button,
    .log-in{
        display: flex;
        justify-content: center;
        margin-bottom: 0px;
    }
    button{
        margin-bottom: 0px;
        width: 60vw;
        padding: 10px 5px;
    }

}