
  .music {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 300px;
    height: 200px;
  }
  
  .music .bar {
    width: 12px;
    height: 2px;
    border-radius: 10px;
    background-color: white;
    animation: up_down 1.5s ease-in-out infinite;
  }
  
  @keyframes up_down {
    0%,
    100% {
      height: 2px;
    }
    50% {
      height: 80px;
    }
  }
  
  .music .bar:nth-child(1) {
    background-color: purple;
    animation-delay: 1s;
  }
  
  .music .bar:nth-child(2) {
    background-color: crimson;
    animation-delay: 0.8s;
  }
  
  .music .bar:nth-child(3) {
    background-color: deeppink;
    animation-delay: 0.6s;
  }
  
  .music .bar:nth-child(4) {
    background-color: orange;
    animation-delay: 0.4s;
  }
  
  .music .bar:nth-child(5) {
    background-color: gold;
    animation-delay: 0.2s;
  }
  
  .music .bar:nth-child(6) {
    background-color: gold;
    animation-delay: 0.2s;
  }
  
  .music .bar:nth-child(7) {
    background-color: orange;
    animation-delay: 0.4s;
  }
  
  .music .bar:nth-child(8) {
    background-color: deeppink;
    animation-delay: 0.6s;
  }
  
  .music .bar:nth-child(9) {
    background-color: crimson;
    animation-delay: 0.8s;
  }
  
  .music .bar:nth-child(10) {
    background-color: purple;
    animation-delay: 1s;
  }
  .music .bar:nth-child(11) {
    background-color: purple;
    animation-delay: 1s;
  }

#name-div{
    width: 30%;
}  
footer{
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;
    align-content: center;
}