<section id="taskButton">
  <div class="row btnn">
    <div class="col add">
      <button class="btn btn-success" type="submit" form="main">
        <i class="fas fa-plus"></i> ADD TASK
      </button>
    </div>
    <div class="col del">
      <a href="" class="btn btn-danger" onclick="getdel()">
        <i class="fas fa-trash-alt"></i> DELETE TASK
      </a>
    </div>
  </div>
</section>
