@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body, html {
    background-image: url('/static/pexels-olya-kobruseva-5417626.jpg');
    background-size: auto;
}

.content {
    font-family: 'Dancing Script', cursive;
    font-size: 8mm;
    margin: 0 auto;
    width: 400px;
}

table, td, th {
    border: 1px solid #aaa;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

