*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "montserrat";
}
body{
    background: #a4b0be;
}
.middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.card{
    cursor: pointer;
    width: 340px;
    height: 480px;
}
.front,.back{
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .6s linear;
}
.front img{
    height: 100%;
}
.front{
    transform: perspective(600px) rotateY(0deg);
}
.back{
    background: white;
    transform: perspective(600px) rotateY(180deg);
}
.details{
    color: #2f3542;
    text-align: center;
    width: 100%;
}
.contact{
    margin: 20px 0;
}
.contact a{
    display: inline-flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    color: #2f3542;
    font-size: 18px;
    transition: 0.4s;
    border-radius: 50%;
}
.contact a:hover{
    background: #2f3542;
    color: white;
}
.card:hover > .front{
    transform: perspective(600px) rotateY(-180deg);

}
.card:hover > .back{
    transform: perspective(600px) rotateY(0deg);

}