body{
    width: 300px;
    height: 300px;
    background-color: aliceblue !important;
    display: flex;
    justify-content: center;
}

p{
    display: inner-flex;
    margin: auto 10px;
    font-size: 22px;
    color: blue;
    border-radius: 6px;
    border: 1px solid lightblue;
    padding: 10px;
}