* {
    margin: 0;
    padding: 0;
    font-family: 'Orbitron';
}
/* width of inputScreen and buttons container */
:root{
    --calcWidth:240px;
}

/* container of full screen size to move the calculator at center */
.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* calculator contains inputScreen and buttonsContainer */
.calculator {
    padding: 2rem;
    border: 2px solid;
    background-color: #000;
    border-radius: 10px;
}

/* displays input as well as output */
#screen {
    max-width: var(--calcWidth);
    height: 7vh;
    font-size: 1.5rem;
    border-radius: 10px;
    padding: .5rem;
}

/* buttons container */
.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 1rem;
    max-width: var(--calcWidth);
    width: 250px;
}

/* every button */
.btn {
    width:58px;
    height: 45px;
    margin: .5rem .2rem;
    font-size: 5vh;
    border-radius: 8px;
    background-color: #fff;

}

.btn:hover {
    background-color: #ebebeb;
    cursor: pointer;
}