.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
  
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}





 /*.btn {
  background: #ff0015;
  background-image: -webkit-linear-gradient(top, #ff0015, #87080a);
  background-image: -moz-linear-gradient(top, #ff0015, #87080a);
  background-image: -ms-linear-gradient(top, #ff0015, #87080a);
  background-image: -o-linear-gradient(top, #ff0015, #87080a);
  background-image: linear-gradient(to bottom, #ff0015, #87080a);
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  text-shadow: 2px 2px 1px #666666;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 24px;
  padding: 11px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #bd0707;
  background-image: -webkit-linear-gradient(top, #bd0707, #b51a1a);
  background-image: -moz-linear-gradient(top, #bd0707, #b51a1a);
  background-image: -ms-linear-gradient(top, #bd0707, #b51a1a);
  background-image: -o-linear-gradient(top, #bd0707, #b51a1a);
  background-image: linear-gradient(to bottom, #bd0707, #b51a1a);
  text-decoration: none;
} */
