<html>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="./static/mywebscript.js"></script>
    <div class="card">
    <div class="card-body">
        <div class="mb-3">
            <label class="form-label">Text to be translated</label>
            <input type="textarea" class="form-control" id="textToTranslate">
        </div>
    
        <div style="padding: 25px 25px 25px 25px;">
            <button onclick="translateToFrench()" class="btn btn-secondary">Translate to French</button>        
            <button onclick="translateToEnglish()" class="btn btn-secondary">Translate to English</button>        
        </div>
    
        <div id="translated_text" style="padding: 25px 25px 25px 25px;"></div>
        </div>
  </div>
</html>