@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
	background-color:  #363536;
	margin: 0;
	font-family: 'Poppins', sans-serif;
}

#container {
	margin: 60px auto;
	max-width: 600px;
}


.box {
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.65%; margin-bottom: 3%;
	border-radius: 15%;
	transition: background 0.6s;
	-webkit-transition: background 0.6s;
	-moz-transition: background 0.6s;
	box-shadow: 0 4px 8px 0 rgba(73, 73, 73, 0.762), 0 6px 20px 0 rgba(73, 73, 73, 0.762);
	cursor: pointer;
}
.box:hover{
	box-shadow: 0 4px 8px 0 #dff9ff, 0 6px 15px 0 #dff9ff;
	transition: 0.75s;
}

h1 {
	text-align: center;
    line-height: 1.3;
    font-weight: normal;
    color: white;
    background: steelblue;
    margin: 0;
    text-transform: uppercase;
    padding-top: 30px;
    padding-bottom: 20px;
}

#colorDisplay {
	font-size: 200%;
}

#details {
	background: white;
	height: 50px;
	text-align: center;
	color: rgb(94, 93, 93);
}

.selected {
	color: white;
	background: steelblue;
}

button {
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: bold;
	color: steelblue;
	cursor: pointer;
	font-family: 'Poppins', sans-serif;
	letter-spacing: 1px; word-spacing: 2px;
	font-size: 1.3rem;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	outline: none;
}

#message {
	display: inline-block;
	width: 20%;
}

button:hover {
	color: white;
	background: steelblue;
}
.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	color: white;
	text-align: center;
 }