#container {
    width: 100%;
    height: 100%;
}

a:link {
    color: rgb(106, 11, 194);

  }


img {
    border-radius: 50%;
    height: 20%;
}


p {
    font-family: sans-serif;
    font-size: 100%;
}

.left {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    float: left;
    width: 32%;
    background-color: #dadada;
    position: relative;
    height: 100%;
}

.right {
    text-align: left;
    background-color: ghostwhite;
    float: right;
    width: 65%;   
    height: 100%; 
}

table {
    margin-bottom: 5%;
    margin-top: 5%;
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

td {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    width: 15%;
    text-align: center;
   
}

h1 {
    border-left-style: solid;
    border-color: #6d6d6d;
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: #d9dcdd;
}

h2 {
    font-size: 170%;
    font-family: 'Oswald', sans-serif;
    border-bottom-style: solid;
    border-bottom-color: #787879;
    text-align: left;

}


h1, h2{
    font-weight: bold;
}

.contact{
    text-decoration: #a6a5a7;
    margin-left: 4%;
    text-align: left;
}
#lang,#mail,#address{
    text-align: left;
    margin-left: 8%;
    font-size: 120%;
}


tr:nth-child(even) {
    background-color: #dededf;
}

tr:nth-child(odd) {
    background-color: #d3d1d1;
}

