body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    flex-direction: column;
}

.header-title{
    text-align: center;
    font-size: 24px;
    color: #525a60;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.calculator {
    background: linear-gradient(to bottom, #555, #333);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 300px;
    text-align: right;
}

#display {
    width: calc( 100% - 20px );
    height: 40px;
    margin-bottom: 10px;
    font-size: 18px;
    background-color: #444;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    font-size: 20px;
    padding: 10px;
    background-color: #777;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: #999;
}