:root {
  --color1: #00e7ff;
  --color2: #ff00e7;
  --back: url(https://cdn2.bulbagarden.net/upload/1/17/Cardback.jpg);
  --red1: #fac;
  --red2: #ddccaa;
  --redfront: url(https://assets.codepen.io/13471/red-gx.webp);
  --yellow1: #54a29e;
  --yellow2: #a79d66;
  --pikafront: url(https://assets.codepen.io/13471/pikachu-gx.webp);
  --white1: #efb2fb;
  --white2: #acc6f8;
  --whitefront: url(https://assets.codepen.io/13471/white-gx.webp);
  --mewtwo1: #efb2fb;
  --mewtwo2: #acc6f8;
  --mewtwofront: url(https://assets.codepen.io/13471/mewtwo-gx.webp);
}

.wrapper {
  width: 800px;
  margin: auto auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(6, 1fr);
  align-content: center;
  align-items: center;
}

.icon {
  border-radius: 100%;
  height: 60px;
  width: 60px;

  transition: 200ms all;
}

.icon:hover{
  filter: saturate(200%);
  transform: scale(1.1);
  cursor: pointer;
}

.icon img {
  height: 60%;
  width: 60%;
  margin: 20%;
}

.bug {
  background: #92BC2C;
  box-shadow: 0 0 20px #92BC2C;
}

.dark {
  background: #595761;
  box-shadow: 0 0 20px #595761;
}

.darkness {
  background: #595761;
  box-shadow: 0 0 20px #595761;
}

.dragon {
  background: #0C69C8;
  box-shadow: 0 0 20px #0C69C8;
}

.electric {
  background: #F2D94E;
  box-shadow: 0 0 20px #F2D94E;
}

.lightning {
  background: #F2D94E;
  box-shadow: 0 0 20px #F2D94E;
}

.fire {
  background: #FBA54C;
  box-shadow: 0 0 20px #FBA54C;
}

.fairy {
  background: #EE90E6;
  box-shadow: 0 0 20px #EE90E6;
}

.fighting {
  background: #D3425F;
  box-shadow: 0 0 20px #D3425F;
}

.flying {
  background: #A1BBEC;
  box-shadow: 0 0 20px #A1BBEC;
}

.ghost {
  background: #5F6DBC;
  box-shadow: 0 0 20px #5F6DBC;
}

.grass {
  background: #5FBD58;
  box-shadow: 0 0 20px #5FBD58;
}

.ground {
  background: #DA7C4D;
  box-shadow: 0 0 20px #DA7C4D;
}

.ice {
  background: #75D0C1;
  box-shadow: 0 0 20px #75D0C1;
}

.normal {
  background: #A0A29F;
  box-shadow: 0 0 20px #A0A29F;
}

.colorless {
  background: #A0A29F;
  box-shadow: 0 0 20px #A0A29F;
}

.poison {
  background: #B763CF;
  box-shadow: 0 0 20px #B763CF;
}

.psychic {
  background: #FA8581;
  box-shadow: 0 0 20px #FA8581;
}

.rock {
  background: #C9BB8A;
  box-shadow: 0 0 20px #C9BB8A;
}

.steel {
  background: #5695A3;
  box-shadow: 0 0 20px #5695A3;
}

.metal {
  background: #5695A3;
  box-shadow: 0 0 20px #5695A3;
}

.water {
  background: #539DDF;
  box-shadow: 0 0 20px #539DDF;
}




.card {
 
  position: relative;
  overflow: hidden;
  margin: 10px;
  overflow: hidden;
  z-index: 10;
 
  border-radius: 5% / 3.5%;
  box-shadow: -5px -5px 5px -5px var(--color1), 5px 5px 5px -5px var(--color2), -7px -7px 10px -5px transparent, 7px 7px 10px -5px transparent, 0 0 5px 0px rgba(255, 255, 255, 0), 0 55px 35px -20px rgba(0, 0, 0, 0.5);
  transition: transform 0.5s ease, box-shadow 0.2s ease;
  will-change: transform, filter;
  background-color: #040712;
  background-image: var(--front);
  background-size: 240px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transform-origin: center;
}

.cardLarge {
  background-size: 100%;
}


@media screen and (min-width: 600px) {
  .card {
    width: clamp(12.9vw, 61vh, 18vw);
    height: clamp(18vw, 85vh, 25.2vw);
  }
}

@media screen and (min-width: 300px) {
  .card {
    width: clamp(12.9vw, 61vh, 18vw);
    height: clamp(18vw, 85vh, 25.2vw);
  }
}
.card:hover {
  box-shadow: -20px -20px 30px -25px var(--color1), 20px 20px 30px -25px var(--color2), -7px -7px 10px -5px var(--color1), 7px 7px 10px -5px var(--color2), 0 0 13px 4px rgba(255, 255, 255, 0.3), 0 55px 35px -20px rgba(0, 0, 0, 0.5);
}
.card.red {
  --color1: var(--red1);
  --color2: var(--red2);
 
}
.card.yellow {
  --color1: var(--yellow1);
  --color2: var(--yellow2);
  
}
.card.mewtwo {
  --color1: var(--mewtwo1);
  --color2: var(--mewtwo2);
  --front: var(--mewtwofront);
}
.card.white {
  --color1: #ec9bb6;
  --color2: #ccac6f;
  --color3: #69e4a5;
  --color4: #8ec5d6;
  --color5: #b98cce;
  --front: var(--whitefront);
}
.card:before, .card:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-repeat: no-repeat;
  opacity: 0.5;
  mix-blend-mode: color-dodge;
  transition: all 0.33s ease;
}
.card:before {
  background-position: 50% 50%;
  background-size: 100% 100%;
  background-image: linear-gradient(115deg, transparent 0%, var(--color1) 25%, transparent 47%, transparent 53%, var(--color2) 75%, transparent 100%);
  opacity: 0.5;
  filter: brightness(0.5) contrast(1);
  z-index: 1;
}
.card:after {
  opacity: 1;
  background-image: url("https://assets.codepen.io/13471/sparkles.gif"), url(https://assets.codepen.io/13471/holo.png), linear-gradient(125deg, #ff008450 15%, #fca40040 30%, #ffff0030 40%, #00ff8a20 60%, #00cfff40 70%, #cc4cfa50 85%);
  background-position: 50% 50%;
  background-size: 160%;
  background-blend-mode: overlay;
  z-index: 2;
  filter: brightness(1) contrast(1);
  transition: all 0.33s ease;
  mix-blend-mode: color-dodge;
  opacity: 0.75;
}
.card.active:after, .card:hover:after {
  filter: brightness(1) contrast(1);
  opacity: 1;
}
.card.active, .card:hover {
  animation: none;
  transition: box-shadow 0.1s ease-out;
}
.card.active:before, .card:hover:before {
  animation: none;
  background-image: linear-gradient(110deg, transparent 25%, var(--color1) 48%, var(--color2) 52%, transparent 75%);
  background-position: 50% 50%;
  background-size: 250% 250%;
  opacity: 0.88;
  filter: brightness(0.66) contrast(1.33);
  transition: none;
}
.card.active:before, .card:hover:before, .card.active:after, .card:hover:after {
  animation: none;
  transition: none;
}
.card.animated {
  transition: none;
  animation: holoCard 12s ease 0s 1;
}
.card.animated:before {
  transition: none;
  animation: holoGradient 12s ease 0s 1;
}
.card.animated:after {
  transition: none;
  animation: holoSparkle 12s ease 0s 1;
}
@keyframes holoSparkle {
  0%, 100% {
    opacity: 0.75;
    background-position: 50% 50%;
    filter: brightness(1.2) contrast(1.25);
  }
  5%, 8% {
    opacity: 1;
    background-position: 40% 40%;
    filter: brightness(0.8) contrast(1.2);
  }
  13%, 16% {
    opacity: 0.5;
    background-position: 50% 50%;
    filter: brightness(1.2) contrast(0.8);
  }
  35%, 38% {
    opacity: 1;
    background-position: 60% 60%;
    filter: brightness(1) contrast(1);
  }
  55% {
    opacity: 0.33;
    background-position: 45% 45%;
    filter: brightness(1.2) contrast(1.25);
  }
}
@keyframes holoGradient {
  0%, 100% {
    opacity: 0.5;
    background-position: 50% 50%;
    filter: brightness(0.5) contrast(1);
  }
  5%, 9% {
    background-position: 100% 100%;
    opacity: 1;
    filter: brightness(0.75) contrast(1.25);
  }
  13%, 17% {
    background-position: 0% 0%;
    opacity: 0.88;
  }
  35%, 39% {
    background-position: 100% 100%;
    opacity: 1;
    filter: brightness(0.5) contrast(1);
  }
  55% {
    background-position: 0% 0%;
    opacity: 1;
    filter: brightness(0.75) contrast(1.25);
  }
}
@keyframes holoCard {
  0%, 100% {
    transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg);
  }
  5%, 8% {
    transform: rotateZ(0deg) rotateX(6deg) rotateY(-20deg);
  }
  13%, 16% {
    transform: rotateZ(0deg) rotateX(-9deg) rotateY(32deg);
  }
  35%, 38% {
    transform: rotateZ(3deg) rotateX(12deg) rotateY(20deg);
  }
  55% {
    transform: rotateZ(-3deg) rotateX(-12deg) rotateY(-27deg);
  }
}
.card.white:hover {
  box-shadow: 0 0 30px -5px white, 0 0 10px -2px white, 0 55px 35px -20px rgba(0, 0, 0, 0.5);
}
.card.white:hover:before, .card.white.active:before {
  background-image: linear-gradient(115deg, transparent 20%, var(--color1) 36%, var(--color2) 43%, var(--color3) 50%, var(--color4) 57%, var(--color5) 64%, transparent 80%);
}
.demo .card {
  background-image: var(--back);
  font-size: 2vh;
}
.demo .card > span {
  position: relative;
  top: 45%;
}
.demo .card:nth-of-type(1), .demo .card:nth-of-type(2), .demo .card:nth-of-type(3) {
  width: 20vh;
  height: 27.5vh;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.4), 0 25px 15px -10px rgba(0, 0, 0, 0.5);
  animation: none;
}
.demo .card:nth-of-type(1):before, .demo .card:nth-of-type(2):before, .demo .card:nth-of-type(3):before, .demo .card:nth-of-type(1):after, .demo .card:nth-of-type(2):after, .demo .card:nth-of-type(3):after {
  animation: none;
}
.demo .card:nth-of-type(1):before, .demo .card:nth-of-type(1):after {
  display: none;
}
.demo .card:nth-of-type(2) {
  background: none;
}
.demo .card:nth-of-type(2):before {
  display: none;
}
.demo .card:nth-of-type(3) {
  background: none;
}
.demo .card:nth-of-type(3):after {
  display: none;
}
.operator {
  display: inline-block;
  vertical-align: middle;
  font-size: 6vh;
}