body{
  background-color: #EAEEF3;
}
h2{
  font-family: Poppins, sans-serif;
  color:#666666;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 40.8px;
  text-decoration: none rgb(102,102,102);
  height: 40.7273px;
  width: 145.25px;
  margin:15px 0 15px 0;
}