@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');
*{
    margin: 0;
    padding: 0;
}
.body{
    background: url("../bg.jpg");
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

}
#board{
    background:linear-gradient(rgb(166, 231, 166), rgb(219, 219, 137));
    width: 90vmin;
    height: 92vmin;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18,1fr);
    grid-template-columns: repeat(18,1fr);
}
.head{
    background: linear-gradient(rgb(71, 0, 18), rgb(255, 255, 8));
    border: 2px solid purple;
    border-radius: 9px;
    transform: scale(1.02);
}

.snake{
    background-color: purple;
    border: .25vmin solid white;
    border-radius: 12px;

}

.food{
    background: linear-gradient(red, purple);
    /* border: .25vmin solid black; */
    border-radius: 50%;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;

}
#scoreBox{
    position: absolute;
    top: 9px;
    right: 200px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'Philosopher', sans-serif;
}
#hiscoreBox{
    float: left;
    /* margin-top: 200px ; */
    /* position: absolute; */
    font-size: 39px;
    font-weight: bold;
    font-family: 'Philosopher', sans-serif;
}