absl-py
astunparse
blinker
gunicorn
cachetools
certifi
charset-normalizer
click
colorama
Flask
flatbuffers
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
importlib-metadata
itsdangerous
Jinja2
joblib
keras
Keras-Preprocessing
libclang
Markdown
MarkupSafe
nltk
numpy
oauthlib
opt-einsum
packaging
protobuf
pyasn1
pyasn1-modules
regex
requests
requests-oauthlib
rsa
six
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
tqdm
typing_extensions
waitress
urllib3
Werkzeug
wrapt
zipp
