body {
  text-align: center;
  background-color: #283149;
}

h1 {
  font-size: 5rem;
  color: #DBEDF3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #DA0463;

}

footer {
  color: #DBEDF3;
  font-family: sans-serif;
}

a {
  text-decoration: none;
 color: #fff;
}

.w {
  background: url('images/tom1.png') no-repeat;
}

.a {
  background: url('images/tom2.png') no-repeat;
}

.s {
  background: url('images/tom3.png') no-repeat;
}

.d {
  background: url('images/tom4.png') no-repeat;
}

.j {
  background: url('images/snare.png') no-repeat;
}

.k {
  background: url('images/crash.png') no-repeat;
}

.l {
  background: url('images/kick.png') no-repeat;
}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #404B69;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #DA0463;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}

@media (max-width: 1028px) {

  h1 {
    font-size: 7rem;
  }

  .drum {
    text-align: center;
    width: 300px;
    height: 300px;

  }


  footer {
    font-size: 2rem;
  }

}
