body {
    font-family: sans-serif;
    font-size: 14px;
}

#result {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.user-group {
    border-radius: 8px;
    width: 31.3%;
    margin: 4px;
    padding: 8px;
    background-color: #f9f9f9;
    transition: .4s;
}

.user-group:hover {
    background-color: #eee;
}

.user-group:hover .img-profile {
    filter: grayscale(0%);
}

.user-group:hover h2 {
    color: teal;
}

h1 {
    text-align: center;
    color: teal;
}

h2 {
    text-align: center;
    font-weight: bold;
    font-size: 99%;
}

p {
    text-align: center;
}

.img-profile {
    display: flex;
    justify-content: center;
    filter: grayscale(100%);
}

img {
    border-radius: 50%;
}

.form-search {
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
    flex-direction: column;
    align-items: center;
}

input {
    padding: 8px;
    width: 500px;
}